.qf-me-header {
  height: 50vw;
}

.qf-me-avatar-container {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 18px;
  overflow: hidden;
}

.qf-me-avatar-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.qf-me-nickname {
  font-size: 18px;
  margin-left: 12px;
  color: #333;
}

.qf-me-ad {
  width: 100%;
  height: 31.2vw;
  background: #999;
  color: #fff;
  font-size: 36px;
  margin-top: 12px;
}

